@import url("../../styles/config.less");
@colorBorder: #0f293d;
.epg {
    display: flex;
    overflow-x: auto;
    margin-top: 320px;
    @media (min-width: (@mobileLargeBP + 1px)) {
        margin-left: 290px;
        margin-top: 50px;
    }
}
.timeElapsed {
    position: absolute;
    left: 2px;
    z-index: 50;
    height: 100vh;
    /* top: 40px; */
    background-color: #405254ab;
}
.right-row {
    overflow-x: auto;
    margin-left: 10px;
}

.left-row {
    margin-left: 50px;
    @media (max-width: (@mobileLargeBP + 1px)) {
        margin-left: 0px;
    }
}

.channel-logos {
    margin-top: 50px;

    @media (max-width: (@mobileLargeBP + 1px)) {
        margin-top: 0px;
    }
}

.timeslot-row {
    height: 40px;
    white-space: nowrap;
    display: inline-flex;
    color: @colorNavGray;
    position: fixed;
    // top: 250px;
    top: 290px;
    z-index: 30;
    background-color: #0e212f;
    behavior: smooth;
    block: start;

    @media (min-width: (@mobileLargeBP + 1px)) {
        top: 60px;
    }

    .timeslot-row--date {
        padding: 10px 0px;
        top: 0;
        justify-content: center;
        align-items: center;
        // background: @colorBG;

        select {
            color: @colorNavGray;
            background-color: transparent;
            border: none;
            font-size: medium;
            padding-left: 5px;

            option {
                background-color: @colorBGMain;
            }
        }
    }
    .timeslot-row--time {
        width: 178px;
        padding: 10px;
        justify-content: center;
        align-items: center;

        .timeslot-row--underline {
            height: 4px;
            margin: 3px -8px;
            background-color: @colorYellow;
        }
    }
}
.channel-info {
    background-color: #122d42;
    z-index: 10;
    position: sticky;
    display: inline-flex;
    justify-content: center;
    border-top: 2px solid @colorBorder;
    border-right: 2px solid @colorBorder;
    padding: 10px 5px;

    &:active {
        background-color: @colorYellow;
    }
    .channel-info--favorite {
        width: 20px;
        height: 20px;
        fill: #6b737b;
        cursor: pointer;
        user-select: none;
        padding: 10px;
        .channel-info--favorite:hover {
            fill: @colorYellow;
        }

        .channel-info--favorited {
            fill: @colorYellow;
        }
    }

    .channel-info--locked {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @colorYellow;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.channel {
    -webkit-overflow-scrolling: touch;
    position: relative;
    content: "";
    scroll-behavior: smooth;
    white-space: nowrap;
    margin-top: 50px;

    .channel-row {
        display: -webkit-flex;
        display: flex;
        white-space: nowrap;
    }
    @media (max-width: (@mobileLargeBP + 1px)) {
        margin-top: 0px;
    }
}

.channel-active {
    background-color: @colorYellow;
}

.channel-row--programs {
    display: -webkit-flex;
    display: flex;
    height: 92px;
    background-color: #1b3447;

    white-space: nowrap;
}
.channel-now {
    background-color: #273d4e;
    font-weight: bold;
}

.channel-row--program {
    display: flex;
    align-items: center;
    border-top: 2px solid @colorBorder;
    border-right: 2px solid @colorBorder;
    z-index: 20;
    font-weight: lighter;

    // .channel-active {
    //     display: block;
    //     background-color: @colorYellow;
    //     color: black;
    // }

    .channel-row--program---title {
        max-height: 2.5em;
        display: block;
        font-size: 1.1em;
        font-family: Roboto;
        font-weight: 600;
        margin-left: 10px;
        -webkit-line-clamp: 3;
        overflow: hidden;
        white-space: break-spaces;
    }

    .channel-row--program---description {
        font-size: medium;
        font-weight: 100;
        color: @colorNavGray;
        margin-left: 10px;
        display: none;
    }

    .channel-row--program---timing {
        display: flex;
        font-size: small;
        font-weight: 100;
        color: @colorNavGray;
        margin-left: 10px;
    }

    .channel-row--program---watching {
        font-size: small;
        color: @colorYellow;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: @colorYellow;
        color: #1b3447;
        .channel-row--program---description {
            display: block;
        }
        .channel-row--program---watching {
            color: #1b3447;
        }
    }
}

// .channel-row--program:hover {
//     background-color: white;
//     color: black;
//     font-size: smaller;
//     word-wrap: break-word;
// }

// .channel-row--program:first-child:hover {
//     display: block;
//     font-size: smaller;
//     background-color: @colorYellow;
// }
