@import url("../../styles/config.less");
@iconWidth: 20px;

.scroll {
    display: flex;
    width: 50px;
    position: absolute;
    top: 65px;
    z-index: 90;
    right: 45px;
    justify-content: space-between;
    fill: white;

    .scrollLeftRight {
        width: @iconWidth;
        height: @iconWidth;
        border-radius: @iconWidth;
        background-color: #254056;
        &:hover {
            background-color: @colorYellow;
            fill: #0f293d;
            cursor: pointer;
        }
    }
    @media (max-width: (@mobileLargeBP + 1px)) {
        display: none;
    }
}
