@import "../../styles/config.less";
@import './slick.less';

.listRow{
    padding:0 (@sitePadding - 10px);
    visibility: hidden;

    @media (max-width: @mobileLargeBP){
        padding:0 (@sitePaddingMobile - 7.5px);
    }

    .slick-initialized {
        visibility: visible;
    }

    .cardList-video{
        .slick-prev,
        .slick-next {
            top:105px;
        }
    }

    .slick-list{
    overflow: visible;

        .slick-track{
            margin-left:0;

            .slick-slide{
                & > div {
                    & > div {
                        vertical-align:top;
                    }
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        opacity:0;
    }

    &:hover{
        .slick-prev:not(.slick-disabled),
        .slick-next:not(.slick-disabled) {
            opacity:1;
        }
    }
}

.listGrid {
    padding:0 (@sitePadding - 10px);

    @media (max-width: @mobileLargeBP){
        padding:0 (@sitePaddingMobile - 7.5px);
    }

    & > div{
        display:inline-block;
        width:20%;

        @media (max-width: @mobileLargeBP){
            width:33.333%;
        }

        @media (max-width: @mobileMediumBP){
            width:50%;
        }
    }
}
