@import "../../styles/config.less";

h2.listHeader{
    position:relative;
	color:@colorNavGray;
	font-weight:400;
	font-size:18px;
	line-height:1.333;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:@sectionSpacer (@sitePadding + 7) 25px;
	margin:0;

	@media (min-width: @maxSiteWidth){
		font-size: 22px;
	}
	@media (max-width: @mobileLargeBP){
		font-size: 15px;
		padding:30px (@sitePaddingMobile + 4) 12px;
	}
}
