@import "mixins.less";

/* -- SITE SPECIFIC VARIABLES -- */
@spriteCache: 1;
@colorDkBlue: #003846;
@colorBlue: #00b8e4;

@colorBG: #0d2638;
@colorBGMain: #183952;
@colorYellow: #fbcc35;
@colorBlue: #0f293d;
@colorHover: #f2f2f2;
@colorCurrent: #f2f2f2;
@colorNavGray: #b4b7bb;

@fontMain: "Roboto", sans-serif;

@headerHeight: 60px;
@headerHeightMob: 56px;
@headerBGMob: #161e26;

@customEase: cubic-bezier(0, 1, 0.75, 1);
@easeBack: cubic-bezier(0.175, 0.885, 0.375, 1.57);

@sitePadding: 45px;
@sitePaddingMobile: 20px;
@sectionSpacer: 40px;
@contentSpacer: 30px;

@maxSiteWidth: 1366px;
@tabletBP: 1023px;
@mobileLargeBP: 767px;
@mobileMediumBP: 479px;
@mobileSmallBP: 359px;

@cardHoverMin: 940px;
@videoMaxWidth: 864px;

@ButtonBackground: rgba(255, 255, 255, 0.08);

@selectBackground: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11.6' height='6.297' viewBox='0 0 11.6 6.297'>  <path id='Path_13189' d='M141.837,466.446a.362.362,0,0,1-.258-.107l-5.567-5.567a.365.365,0,1,1,.517-.517l5.308,5.309,5.044-5.044a.365.365,0,0,1,.516.516l-5.3,5.3A.362.362,0,0,1,141.837,466.446Z' transform='translate(-135.905 -460.148)' fill='rgba(235,235,235,0.7)'/></svg>")
    100% 20px no-repeat transparent;

.defaultHover() {
    color: @colorHover;
}

.defaultFieldOutline {
    outline: solid 1px #000;
}

.contentResponsive() {
    box-sizing: border-box;
    padding-left: @sitePadding;
    padding-right: @sitePadding;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: @mobileLargeBP) {
        padding-left: (@sitePadding * 0.5);
        padding-right: (@sitePadding * 0.5);
    }
}

.contentResponsiveRev() {
    .bsBoxSizing();
    margin-left: (@sitePadding * -1);
    margin-right: (@sitePadding * -1);
    padding-left: @sitePadding;
    padding-right: @sitePadding;

    @media (max-width: @mobileLargeBP) {
        margin-left: (@sitePadding * -0.5);
        margin-right: (@sitePadding * -0.5);
        padding-left: (@sitePadding * 0.5);
        padding-right: (@sitePadding * 0.5);
    }
}

.flag() {
    display: block;
    border-radius: 2px 2px 2px 0;
    background: @colorBlue;
    padding: 0 4px;
    color: #fff;
    font-size: 9px;
    line-height: 16px;
    text-transform: uppercase;
}
